<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <title>Mail Sent</title>

    <style>
      body {
        background: #ffff99;
        color: #333;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
      }
    </style>
  </head>
  <body>
    <h2>Password Reset Mail Sent</h2>

    <p>
      <strong
        >We’ve emailed you instructions for setting your password, if an account
        exists with the email you entered. You should receive them
        shortly.</strong
      >
    </p>

    <p>
      <strong
        >If you have not receive the email, please make sure you’ve entered the
        email address you had registered with, and check your spam
        folder.</strong
      >
    </p>
  </body>
</html>
