<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <title>Complete!</title>
    <style>
      body {
        font-family: 'Montserrat', sans-serif;
        background: #ffff99;
        font-size: 1.1rem;
      }

      a {
        color: #333;
        padding: 10px 20px;
        border: 1px solid black;
        text-decoration: none;
      }

      a:hover {
        color: white;
        background-color: #333;
      }
      .buttons {
        margin-top: 4vh;
      }
    </style>
  </head>
  <body>
    <h3>Password reset complete!</h3>

    <p>Your password has been set. You may go ahead and log in now.</p>
    <div class="buttons">
      <a href="{% url 'login' %}">Log in</a>
      <a href="{% url 'index' %}">Home Page</a>
    </div>
  </body>
</html>
